.group {
    background-color: rgb(21, 178, 206);
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 15px;
    margin-bottom: 20px;
    padding-bottom: 10px;

}

.group div {
    padding-bottom: 8px;
}
.group div select {
    margin-left: 20px;
}
