.form{
    display: flex;
    flex-direction: row;
    gap:15px;
    border-radius: 7px;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 15px;
 }
 .input-group {
     display: flex;
     flex-direction: row;
     gap:15px;
 }
 .input-group label {
     color: black;
     font-size: 25px;
 }
 .initial-form-container {
     background-color: rgb(188, 188, 206);
     border-radius: 20px;
 }
 .initial-form-container p {
     padding-top:10px;
     padding-left:10px;
     font-size: 15px
 }

